@model MSSaoPauloASP.NET.EF.User

@{
    ViewBag.Title = "LoginPage";
}

<link href="~/Styles/assets.css" rel="stylesheet" />

<h2 style="text-align: center;">Login</h2>
<body>
    <div id="login-div" style="text-align: center;">
        @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
        {
            <table>
                <br />
                <br />
                <tr>
                    <td>
                        @*Label for the username*@
                        @Html.LabelFor(model => model.Email)
                    </td>
                    <td>
                        @*Will show textbox for properties having datatype string. If the property
                            is boolean value, it will show a checkbox. 'Editor' helper class will help
                                to create HTML elements based on the datatype.*@
                        @Html.EditorFor(model => model.Email)
                    </td>
                </tr>
                @*<tr>
                        <td></td>
                        <td>@Html.ValidationMessageFor(model => model.Email)</td>
                    </tr>*@

                <tr>
                    <td>
                        @Html.LabelFor(model => model.Password)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Password)
                    </td>
                </tr>
                @*<tr>
                        <td></td>
                        <td>@Html.ValidationMessageFor(model => model.Password)</td>
                    </tr>*@

                @*<tr>
                        <td colspan="2">
                            <label class="field-validation-error">
                            @Html.DisplayFor(model => model.LoginErrorMessage)</label>
                        </td>
                    </tr>*@

                <tr>
                    <td></td>
                    <td>
                        <br />
                        <input id="LoginPageBtn" type="submit" name="name" value="Login" />
                        @*<input id="LoginPageBtn" type="reset" name="name" value="Reset" />*@

                        <button id="LoginPageBtn" type="button" onclick="location.href=
                          '@Url.Action("Index", "Home")'">
                            Cancel
                        </button>
                    </td>
                </tr>
            </table>
        }

    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

</body>



@*<head>
        <meta charset="utf-8" />
        <title>Marathon Skills 2015 - Login</title>

        <link href="../Styles/assets.css" rel="stylesheet" />
    </head>
    <body>

        <div class="bodySection">
            <h2>Login Form</h2>
            <h5>Please log in to the system using your email address and password.</h5>

            <form id="frmParty" method="POST">
                <input type="hidden" name="id" value="" />
                <table>
                    <tr>
                        <td>
                            <label for="email">Email: </label><span class="val_email"></span>
                        </td>
                        <td>
                            <input pattern="^[a-z0-9._%+-]+[a-z0-9.-]+\.[a-z]{2,3}$"
                                   placeholder="Enter your email address"
                                   type="email" name="email" value="" id="email" class="txt-fld" required />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="pass">Password: </label><span class="val_pass"></span>
                        </td>
                        <td>
                            <input type="password" placeholder="Enter your password"
                                   name="pass" value="" id="pass" class="txt-fld" required />
                        </td>
                    </tr>
                </table>

                <input type="hidden" name="action_type" value="add" />
                <div style="text-align: center; padding-top: 30px;">
                    <input class="btn" type="submit" name="login" id="login" value="Login" />
                </div>
                <br />
            </form>
        </div>

    </body>*@


